In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset_train = pd.read_csv('/content/Google_Stock_Price_Train.csv')
training_set = dataset_train.iloc[:,1:2].values

In [3]:
training_set

array([[325.25],
       [331.27],
       [329.83],
       ...,
       [793.7 ],
       [783.33],
       [782.75]])

In [4]:
dataset_train

            Date    Open    High     Low   Close      Volume
0       1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1       1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2       1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3       1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4       1/9/2012  322.04  322.29  309.46  620.76  11,688,800
...          ...     ...     ...     ...     ...         ...
1253  12/23/2016  790.90  792.74  787.28  789.91     623,400
1254  12/27/2016  790.68  797.86  787.66  791.55     789,100
1255  12/28/2016  793.70  794.23  783.20  785.05   1,153,800
1256  12/29/2016  783.33  785.93  778.92  782.79     744,300
1257  12/30/2016  782.75  782.78  770.41  771.82   1,770,000

[1258 rows x 6 columns]

In [5]:
from sklearn.preprocessing import MinMaxScaler

sc=MinMaxScaler(feature_range=(0,1))
training_set_scaled=sc.fit_transform(training_set)

In [6]:
X_train=[]
Y_train=[]

for i in range(60,len(training_set)):
    X_train.append(training_set_scaled[i-60:i,0])
    Y_train.append(training_set_scaled[i,0])

In [7]:
X_train, Y_train = np.array(X_train), np.array(Y_train)

In [12]:
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout

regressor = Sequential()

In [13]:
regressor.add(LSTM(units=50,return_sequences=True,input_shape=(X_train.shape[1],1)))
regressor.add(Dropout(0.2))

In [14]:
regressor.add(LSTM(units=50,return_sequences=True))
regressor.add(Dropout(0.2))

In [15]:
regressor.add(LSTM(units=50,return_sequences=True))
regressor.add(Dropout(0.2))

In [16]:
regressor.add(Dense(units=1))

In [17]:
regressor.compile(optimizer='adam',loss='mean_squared_error')

In [19]:
regressor.fit(X_train, Y_train,epochs=25,batch_size=32)

Epoch 1/25
38/38 [==============================] - 4s 95ms/step - loss: 0.0754
Epoch 2/25
38/38 [==============================] - 4s 106ms/step - loss: 0.0754
Epoch 3/25
38/38 [==============================] - 4s 97ms/step - loss: 0.0752
Epoch 4/25
38/38 [==============================] - 4s 97ms/step - loss: 0.0752
Epoch 5/25
38/38 [==============================] - 4s 95ms/step - loss: 0.0752
Epoch 6/25
38/38 [==============================] - 4s 94ms/step - loss: 0.0754
Epoch 7/25
38/38 [==============================] - 4s 98ms/step - loss: 0.0752
Epoch 8/25
38/38 [==============================] - 4s 104ms/step - loss: 0.0756
Epoch 9/25
38/38 [==============================] - 4s 108ms/step - loss: 0.0750
Epoch 10/25
38/38 [==============================] - 4s 100ms/step - loss: 0.0750
Epoch 11/25
38/38 [==============================] - 4s 103ms/step - loss: 0.0749
Epoch 12/25
38/38 [==============================] - 4s 117ms/step - loss: 0.0750
Epoch 13/25
38/38 [==============================] - 4s 103ms/step - loss: 0.0749
Epoch 14/25
38/38 [==============================] - 4s 104ms/step - loss: 0.0749
Epoch 15/25
38/38 [==============================] - 4s 105ms/step - loss: 0.0752
Epoch 16/25
38/38 [==============================] - 4s 103ms/step - loss: 0.0749
Epoch 17/25
38/38 [==============================] - 4s 95ms/step - loss: 0.0750
Epoch 18/25
38/38 [==============================] - 4s 96ms/step - loss: 0.0751
Epoch 19/25
38/38 [==============================] - 4s 94ms/step - loss: 0.0752
Epoch 20/25
38/38 [==============================] - 6s 158ms/step - loss: 0.0753
Epoch 21/25
38/38 [==============================] - 4s 99ms/step - loss: 0.0749
Epoch 22/25
38/38 [==============================] - 4s 98ms/step - loss: 0.0751
Epoch 23/25
38/38 [==============================] - 4s 96ms/step - loss: 0.0752
Epoch 24/25
38/38 [==============================] - 5s 120ms/step - loss: 0.0752
Epoch 25/25
38/38 [==============================] - 4s 98ms/step - loss: 0.0748

In [20]:
dataset_test=pd.read_csv('/content/Google_Stock_Price_Test.csv')
test_set = dataset_test.iloc[:,1:2].values

In [44]:
dataset_total=pd.concat((dataset_train['Open'],dataset_test['Open']),axis=0)
input=  dataset_total[len(dataset_total)-len(dataset_total)-60:].values

In [45]:
input=input.reshape(-1,1)

In [46]:
input=sc.transform(input)

In [50]:
X_test=[]
for i in range(60,80):
  X_test.append(input[i-60:i,0])
X_test=np.array(X_test)
X_test=np.reshape(X_test,(X_test.shape[0],X_test.shape[1],1))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.

IndexError: ignored