<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Lab Exercise 1  <br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
print('P1: Hello, How are you?\nP2: Yes I\'m fine.')

P1: Hello, How are you?
P2: Yes I'm fine.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Display the following pattern using print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

            *    
           ***    
          *****   
         *******  
        *********

In [2]:
# type your code here
height=5 #height of the triangle
length=(height*2)-1
i=1
for row in range(height):
    for position in range(length):
        if(position==height-i):
            for marker in range((i*2)-1):
                print('*',end='')
            i+=1
            break
        else:
            print(' ',end='')
    print('')

    *
   ***
  *****
 *******
*********

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# type your code here
print('\'A\'\n\'B\'\n\'C\'')

'A'
'B'
'C'

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [4]:
# type your code here
name='Ashwin Baskar'
age=24.7
salary=10000
isMarried=False
print('Type of variable "name": ',type(name),'\nType of variable "age": ',type(age),'\nType of variable "salary": ',type(salary),'\nType of variable "isMarried": ',type(isMarried))

Type of variable "name":  <class 'str'>
Type of variable "age":  <class 'float'>
Type of variable "salary":  <class 'int'>
Type of variable "isMarried":  <class 'bool'>

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [5]:
# type your code here
num1=-334566
type(num1)

int

ii. A fractional variable

In [6]:
# type your code here
num2=85.3364
type(num2)

float

**Declare a boolean variable and check its data type.**

In [7]:
# type your code here
bool1=True
type(bool1)

bool

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a complex number and assign it the name 'comp_var'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
# type your code here
complex_num1=2.559+4.658j
type(complex_num1)

complex

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Convert a float variable f = 23.45 to integer.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
# type your code here
f=23.45
int(f)

23

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# type your code here
var1=25
str(var1)

'25'

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
# type your code here
cal = (145*354)-(1345/45) + (462+23)/3
cal

51461.777777777774

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
# type your code here
result=[]
result.append(1353+234)
result.append(2355-346)
result.append(234*457)
result.append(25/6)
result.append(25%6)
result.append(33**4)
result.append(int(45/6))
result.append(2**10)

for x in result:
    print(x)

1587
2009
106938
4.166666666666667
1
1185921
7
1024

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
# type your code here
weight=float(input('Enter the  weight in KG '))
height=float(input('Enter the height in centimeters '))
BMI=round(weight/((height/100)**2),2)
  
print('BMI is: ',BMI)
print('You are ',end='')
if(BMI<18.5):
    print('Underweight')
elif(BMI<25):
    print('Normal')
elif(BMI<30):
    print('Overweight')
else:
    print('Obese')

Enter the  weight in KG 78
Enter the height in centimeters 169
BMI is:  27.31
You are Overweight

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
# type your code here
(54+34)*45==(0.9*2432)/0.9

False

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [15]:
# type your code here
str1='Welcome to Big Data Analytics'
str2='with Specialization in Data Science and Machine Learning'
str1+' '+str2

'Welcome to Big Data Analytics with Specialization in Data Science and Machine Learning'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
# type your code here
num = 34
string ='How old are you?'
string+' '+str(num)

'How old are you? 34'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a code to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
def isPrime(num):
    check=int(num**0.5)
    while(check>1):
        if(num%check==0):
            return False
        check-=1
    return True

num=int(input('Enter the number '))
if isPrime(num):
    print(num,'is Prime number')
else:
    print(num,'is not a Prime number')

Enter the number 98863
98863 is not a Prime number

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
# type your code here
def factorial(num):
    if num>1:
        fact=num*factorial(num-1)
        return fact
    elif num==0 | num==1:
        return 1
    else:
        return 'Invalid number entered'

print('Factorial of a number')
num=int(input('Enter the number '))

print('Factorial of the entered number is ',str(factorial(num)))

Factorial of a number
Enter the number 13
Factorial of the entered number is  6227020800